@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;

  color: #343a40;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(180deg, #e9ecef 0%, #ced4da 100%);
}

header {
  text-align: center;
  /* filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4)); */
}

header img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

header p {
  margin: 0;
  font-size: 0.75rem;
}

.places-category {
  max-width: 85rem;
  margin: 2rem auto;
  pad: 1rem;
  border: 2px solid #457b9d;
  border-radius: 4px;
}

.places-category h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.fallback-text {
  font-size: 0.75rem;
  text-align: center;
}

.places {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 1rem;

  margin: 0.5rem auto;
  padding: 0.25rem;
  list-style: none;
}

.place-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: #a5d8ff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: slide-down-fade-in 0.5s ease-out forwards;
}

.place-item button {
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 4px 2px rgba(255, 217, 0, 0.6);
  transform: rotate(5deg);
}
.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 4px 2px rgba(255, 217, 0, 0.6);
  transform: rotate(-5deg);
}

.place-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.place-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  color: #1864ab;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 1rem auto;
  background-color: rgba(255, 217, 0, 0.75);
  border-radius: 2px;
  padding: 0.05rem 0.15rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.delete-confirmation {
  padding: 0.5rem;
}

.delete-confirmation h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #bc6c25;
}

.delete-confirmation p {
  margin: 0 auto;
  font-size: 0.75rem;
  max-width: 38ch;
  color: #dda15e;
}

#confirmation-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #78290f;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #540b0e;
}

.button-text {
  background: transparent;
  border: none;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #5d0909;
}

.modal {
  min-width: 15rem;
  padding: 1;
  z-index: 2;
  background: #ede0d4;
  border: 0.5px solid #ddb892;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: slide-down-face-in 0.3s ease-out forwards;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.4));
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
